<div fxLayout class="main-container">
  <mat-selection-list fxFlex="20%" multiple="false" #cmdIds>
    <mat-list-option *ngFor="let cmd of data.cmds; let i = index" [value]="i">
      {{ cmd }}
    </mat-list-option>
  </mat-selection-list>
  <mat-card fxFlex="30%" *ngIf="cmdIds.selectedOptions.selected[0]?.value as i">
    <mat-card-header>
      <mat-card-title> {{ data.cmds[i] }}</mat-card-title></mat-card-header
    >
    <mat-card-content>
      {{ data.payload[i] | json }}
      <br />
      <button
        style="float: right"
        (click)="sendMessage(data.cmds[i], data.payload[i])"
        mat-flat-button
        color="primary"
      >
        Send
      </button>
    </mat-card-content>
  </mat-card>
  <div>{{ message$ | async }}</div>
</div>
